*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
h1{
    font-family: 'Finlandica', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
}
a{
    padding: 15px 30px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #ebe4e4;
    background-image: linear-gradient(45deg, #0000ff, rgb(13, 189, 212) );
    border-radius: 40px;
    top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.top-banner{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-one{
    background: url('images/donation13.jpg') no-repeat;
    background-size: cover;
    object-fit: fill;
}
.banner-text{
    height: 320px;
    width: 826px;
    text-align: center;
}
.banner-text h1{
    font-weight: 700;
    font-size: 65px;
    color: whitesmoke;
}
.banner-text p{
    margin-top: 20px;
    font-weight: 300;
    font-size: 18px;
    color: whitesmoke;
}
.sec-two-text h1{
    color: #121212;
    margin-top: -100px;
}
.sec-two-text p{
    color: #707070;
}
.sec-two-ul{
    display: flex;
    flex-wrap: wrap;
    height: 123px;
    width: 765px;
    justify-content: space-between;
    text-align: center center;
    margin: 50px 0px 0px 25px;
}
.sec-two-ul ul{
    text-decoration: none;
    height: 123px;
    width: 135px;
    line-height: 123px;
    color: #707070;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Finlandica', sans-serif;
}
.sec-two-ul :nth-child(2){
    color: #23d8f0;
    border: 2px solid;
    border-radius: 5px;
    background-color: #23d8f03f;
}
.input{
    margin-top: 50px;
    height: 50px;
    width: 765px;
    outline: none;
    border: none;
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 40%);
    border-radius: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}